services:
  postgres:
    image: 'postgres:latest'
    restart: unless-stopped
    environment:
      - 'POSTGRES_DB=play_push_db'
      - 'POSTGRES_PASSWORD=PlayPush12'
      - 'POSTGRES_USER=galvisjuanc'
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/data/postgres

volumes:
  pgdata: